/*======================== Reset ========================*/

html {
    font-family: RobotoSlab;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
    text-decoration: none;
}
a:active,
a:hover {
    outline: 0;
    border: none;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: 700;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
/*======================== Body ========================*/

body {
    font-family: RobotoSlab;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #282c34;
}
a {
    color: #fff;
    font-weight: normal;
}
a:hover,
a:focus {
    color: #fff;
    text-decoration: none;
}
p {
    line-height: 170%;
    color: #fff;
}
::selection {
    background: #282c34;
    color: #fff;
}
::-moz-selection {
    background: #282c34;
    color: #fff;
}
/*======================== Fonts ========================*/

@font-face {
    font-family: RobotoSlab;
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/RobotoSlab/RobotoSlab-Light.eot');
    src: url('/assets/fonts/RobotoSlab/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    
    url('/assets/fonts/RobotoSlab/RobotoSlab-Light.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    
    url('/assets/fonts/RobotoSlab/RobotoSlab-Light.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    
    url('/assets/fonts/RobotoSlab/RobotoSlab-Light.ttf') format('truetype');
}

/*======================== Index ========================*/

.topContainer {
    margin-top: 100px;
}
label {
    font: 20px robotoslab;
    font-weight: 300;
    margin-bottom: 10px;
}
.form-control {
    height: 46px;
}
.secondRow {
    margin-top: 17px;
    margin-bottom: 20px;
}
label.radio-inline {
    font: 15px robotoslab;
    font-weight: 300;
}
button.btn.btn-default.btn-lg {
    width: 100%;
}